*{
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

nav{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	text-align: center;
}
nav a{
	padding: 10px;
	color: pink;
}
a{
	color: #BC8F8F;
	font-family: 'Gowun Batang', serif;
	font-family: 'Inconsolata', monospace;
}
a:hover{
	color: purple;
}
.showProj{
	text-align: center;
	margin : 1em;
}
h1{
	text-align: center;
	font-size: 30px;
	font-family: 'Gowun Batang', serif;
	font-family: 'Inconsolata', monospace;
	color: #303030;
}
h3{
	text-align: center;
	padding: 2em;
	font-family: 'Gowun Batang', serif;
	font-family: 'Inconsolata', monospace;
	color: #303030;
}
#drive{
	display: flex;
	flex-grow: 1;

}
#all_skills{
	display: flex;
	justify-content: space-between;
	justify-content: space-around;
}
.skills p{
	padding: 10px;
}
.sideColumn{
	flex: 1;
	margin-top: 10%;
	text-align: center;
}
#colonneMilieu{
	padding-top: 1rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap:1rem;
	flex-grow: 1;
}

p{
	font-family: 'Gowun Batang', serif;
}
#newsletter{
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
	background-color: #BC8F8F;
	padding: 10px;
}
#newsletter p{
	text-align: center;
	font-size: 30px;
	font-family: 'Style Script', cursive;
}
footer{
	display: flex;
	padding-left: 45%;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 10px;
	padding-bottom: 10px;
}
footer a{
	color: white;
	text-decoration: none;
}
#social i:hover{
	transform: rotate(300deg);
}
#social i{
	transition: 0.7s;
}
#play_vid{
	display: flex;
	justify-content: center;
	margin: 30px;
	flex-grow: 1;
}

#myForm {
	max-width: 300px;
	
}

#myForm input,#myForm textarea {
	width: 100%;
	margin-top: 0.25rem;
	padding-left: 0.25rem;
	resize: none;
}